.movieCard {
	background-color: #3282b8;
	padding: 8px 8px 5px 8px;
	border-radius: 5px;
	border: 3px solid #0f4c75;
	color: ##3282b8;
	transition: all 0.2s;
	cursor: pointer;
	margin: 10px 5px;
}

.movieCard:hover {
	background-color: #0f4c75;
	border: 3px solid #1b262c;
}

.cardImage {
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
