.movieCard {
	background-color: #0f4c75;
	padding: 8px 8px 5px 8px;
	border-radius: 5px;
	border: 3px solid #3282b8;
	transition: all 150ms;
	cursor: pointer;
	margin: 10px 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.movieCard:hover {
	border: 3px solid #bbe1fa;
}

.cardImage {
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
