.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #0f4c75;
	height: 4vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	font-family: 'Rubik', sans-serif;
	color: #bbe1fa;
}
