.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.title {
	font-family: 'Playfair Display', serif;
	font-size: 5rem;
	color: #0f4c75;
	font-weight: 900;
	letter-spacing: -2px;
	margin: 0;
}

.title span {
	font-style: italic;
	color: #1b262c;
}

.description {
	width: 65%;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	color: #0f4c75;
	font-size: 1rem;
	margin-bottom: 25px;
}

.btnDiv {
	display: flex;
	justify-content: space-around;
	width: 200px;
}

.signIn {
	text-align: center;
	margin-top: 10px;
	padding: 10px 15px;
	background-color: #3282b8;
	color: #bbe1fa;
	border: 2px solid #0f4c75;
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
	transition: all 0.3s;
	cursor: pointer;
}

.signIn:hover {
	background-color: #0f4c75;
}

.hello {
	font-size: 1.4rem;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	color: #1b262c;
	font-style: italic;
	margin-bottom: 20px;
}

.hello span {
	color: #0f4c75;
	font-family: 'Rubik', sans-serif;
	font-weight: 800;
	font-style: normal;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 16vh;
}

.cardImage {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	margin-bottom: 15px;
}

.heading div {
	border: 4px solid #0f4c75;
	border-radius: 50%;
	margin-bottom: 5px;
}

.heading h2 {
	font-size: 1.6rem;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	color: #0f4c75;
	margin-bottom: 25px;
}

.categories {
	padding: 0 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	margin-bottom: 30px;
}

.favorites {
	font-family: 'Rubik', sans-serif;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 99%;
	height: 5rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #3282b8;
	color: #1b262c;
	cursor: pointer;
	transition: 0.2s;
}

.favorites svg {
	margin-left: 5px;
}

.favorites:hover {
	background-color: #0f4c75;
	color: #bbe1fa;
}

.wantToWatch {
	font-family: 'Rubik', sans-serif;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3282b8;
	width: 99%;
	height: 5rem;
	background-color: #3282b8;
	color: #1b262c;
	cursor: pointer;
	transition: 0.2s;
}

.wantToWatch svg {
	margin-left: 5px;
	font-size: 1.8rem;
}

.wantToWatch:hover {
	background-color: #0f4c75;
	color: #bbe1fa;
}

.search {
	font-family: 'Rubik', sans-serif;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3282b8;
	width: 99%;
	height: 5rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #3282b8;
	color: #1b262c;
	cursor: pointer;
	transition: 0.2s;
}

.search svg {
	margin-left: 5px;
}

.search:hover {
	background-color: #0f4c75;
	color: #bbe1fa;
}

.myMoviesTitle {
	font-family: 'Rubik', sans-serif;
	color: #0f4c75;
	padding: 0 2.2rem;
}

.myMoviesTitle h2 {
	margin-bottom: 0;
	padding-bottom: 5px;
	font-size: 1.4rem;
	border-bottom: 2px solid #0f4c75;
}

.movieList {
	padding: 0 1rem;
}

@media only screen and (max-width: 600px) {
	.favorites span {
		display: none;
	}

	.wantToWatch span {
		display: none;
	}

	.search span {
		display: none;
	}
}
