.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.firebaseBtns {
	border: 3px solid #0f4c75;
	background-color: #3282b8;
	padding: 18px 10px;
	border-radius: 5px;
	box-shadow: #bbe1fa -10px 10px 0px -3px, #0f4c75 -10px 10px;
}
