.movieCard {
	background-color: #3282b8;
	width: 100%;
	border-radius: 5px;
	border: 3px solid #0f4c75;
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 6px 10px;
	color: #0f4c75;
	transition: all 0.2s;
	cursor: pointer;
	margin: 5px 5px;
}

.movieCard:hover {
	background-color: #0f4c75;
	border-color: #1b262c;
	color: #1b262c;
}

.clickTo {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.review {
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
}

.review svg {
	margin: 0;
	padding-top: 6px;
}

.rating {
	display: flex;
}

.rating div {
	color: #bbe1fa;
	font-size: 1rem;
}
