.searchContainer {
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 14vh;
	overflow-y: auto;
	height: 100%;
}

.searchContainer::-webkit-scrollbar {
	display: none;
}

.searchForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 6rem;
}
