.form {
	width: 40vh;
}

.input {
	width: 100%;
	border: 2px solid #3282b8;
	border-radius: 3px;
	padding: 10px 12px;
	font-family: 'Rubik', sans-serif;
	outline: 0;
	font-size: 1.2rem;
	color: #bbe1fa;
	background: #1b262c;
	transition: border-color 0.2s;
}

.input::placeholder {
	color: #3282b8;
}

.input:focus {
	outline: 0;
}
